/* ========= common css ========= */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  box-sizing: border-box;
  font-family: montserrat;
  margin: 0%;
}
:root {
  --primary-color: #82c444;
  --primary2-color: #3cd89d;
  --secondary-color: linear-gradient(130deg, #3cd89d 0%, #82c444 100%);
  --font-color: #1e1e1e;
  --dark-bg-color: #1e1e1e;
  --white: #fff;
  --black: #000;
}
a{
  text-decoration: none;
}
.primary_color {
  color: var(--primary-color);
}
.primary2_color {
  color: var(--primary2-color);
}
.bg_color_1 {
  background-color: #3cd89d1a;
}
.bg_color_2 {
  background-color: #cbebbf;
}
.bg_color_3 {
  background-color: var(--white);
}
.dark_bg_color{
  background-color: var(--dark-bg-color);
}
.font_color{
  color: var(--font-color)!important;
}
.font_color2{
  color: var(--white)!important;
}
.common_text{
  color: var(--font-color);
  font-size: 48px;
  line-height: 60px;
}
.common_text_1{
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
}
.weight_500{
  font-weight: 500;
}
.weight_600{
  font-weight: 600;
}
.weight_700{
  font-weight: 700;
}
.weight_800{
  font-weight: 800;
}
.text_18{
  font-size: 18px;
}
.text_24{
  font-size: 24px;
}
.text_36{
  font-size: 36px;
}
.text_64{
  font-size: 64px;
}
.border_radius_10{
  border-radius: 10px;
}
.padding_60{
  padding: 60px;
}
.padding_right_100{
  padding-right: 100px;
}
.btn_1 {
  color: var(--white);
  background: var(--secondary-color);
  padding: 15px 43px;
  font-size: 18px;
  transition: ease 0.5s;
}
.btn_1:hover {
  background: var(--dark-bg-color);
  color: var(--white);
}
.btn_shadow{
  position: relative;
}
.btn_shadow::before{
  content: '';
  position: absolute;
  background-image: url("../images/btn-shadow.png");
  background-position: top center;
  height: 80px;
  width: 150px;
  display: block;
  top: 6px;
  left: 20px;
  z-index: -1;
  transition: 0.8s ease;
}
.btn_1:hover.btn_shadow::before{
  filter: brightness(0);
}
.btn-check:focus+.btn, .btn:focus {
  outline: none;
  box-shadow: none;
}
.heading_hover{
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 0px 15px;
}
.heading_hover::before{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  width: 7px;
  height: 100%;
  background-color: var(--black);
  border-radius: 5px;
  z-index: -1;
  transition: all 1s ease;
}
.heading_hover:hover::before{
  width: 100%;
}
img{
  max-width: 100%;
}

/* ============ HOME ============ */
/* ========= loader ========= */
.square{
  width: 8px;
  height: 30px;
  background: var(--primary2-color);
  border-radius: 10px;
  display:block;
  animation:turn 2.5s ease infinite;
}
.top{
  position: absolute;
  left: 40%;
  top: 50%;
  transform:rotate(90deg);
  z-index: 20;
}
.bottom{
  position: absolute;
  left: 40%;
  top: 50%;
  transform:rotate(-90deg);
  z-index: 20;
}
.left{
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 20;
}
.right{
  position: absolute;
  left: 40%;
  top: 50%;
  transform: rotate(-180deg);
  z-index: 20;
}
.loader{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%,-50%);
  width: 100px;
  height: 100px;
  z-index: 20;
}
.overlayer{
  width: 100%;
  height: 200%;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}
@keyframes turn{
  0% {
    transform: translateX(0) translateY(0) rotate(0);
 }
  70% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
 }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
 }
}

/* ========= Header ========= */
.header-space{
  padding: 17px 40px;
}
.logo{
  width: 12%;
}
nav ul li a {
  color: var(--font-color)!important;
}
nav ul li {
  position: relative;
}
nav ul li::after {
  position: absolute;
  content: "";
  width: 34px;
  height: 3px;
  border-radius: 20px;
  background: var(--secondary-color);
  bottom: 0%;
  left: 32%;
  transform: scaleX(0);
  transition: 0.5s;
}
nav ul li:hover::after{
  transform: scaleX(1);
}
.active {
  color: var(--primary2-color)!important;
}

/* ========= banner ========= */
.banner_space{
  padding: 15px 40px;
  margin-bottom: 150px;
}
.text_space{
  margin-top: 150px;
}
.pr_100{
  padding-right: 100px;
}
.heading_line{
  line-height: 83px;
}
.text_bg{
  position: absolute;
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  z-index: -1;
  top: 0%;
}
.banner_imgspace{
  padding: 60px 0px 0px 60px;
}
.banner_box{
  position: relative;
  margin-top: 80px;
  overflow: hidden;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 580px;
  height: 500px;
  z-index: 1;
}
.banner_img{
  transition: .5s;
  width: 100%;
  height: 100%;
}
.banner_box:hover .banner_img{
  transform: scale(1.1);
}
.banner_bg{
  position: relative;
}
.banner_bg::before{
  content: "";
  position: absolute;
  top: 8%;
  left: 0%;
  background-image: url("../images/banner-bg.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transform: scale(1.07);
}
.bg_dot{
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--secondary-color);
  border-radius: 50%;
  top: 89%;
  left: 6%;
  transition: 1s;
  opacity: 1;
}
.banner_bg:hover .bg_dot{
  top: 98%;
  left: 11%;
  opacity: 1;
}
.bg_dot1{
  top: 11%;
  left: 50%;
  height: 10px;
  width: 10px;
}
.banner_bg:hover .bg_dot1{
  top: 8%;
  left: 60%;
  opacity: 1;
}
.bg_img{
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 2;
  opacity: 0;
  transition: ease 1s;
}
.banner_bg:hover .bg_img{
  opacity: 1;
}

/* ========= counter ========= */
.counter_items{
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.count_img{
  width: 200px;
  height: 230px;
  margin-right: 0 !important;
  transition: 0.5s;
}
.count_img:hover{
  transform: rotate(30deg);
}
.cls-1{
  stroke: var(--font-color)!important;
  transition: 0.5s;
}
.count_img:hover .cls-1{
  stroke: var(--primary2-color)!important;
}
.count_rel{
  position: relative;
}
.count{
  position: absolute;
  padding-left: 20px;
  top: 0%;
  left: 0%;
  margin: 110px 0px 0px 30px;
  text-align: center;
} 
.count2{
  margin: 110px 0px 0px 44px;
}
.count3{
  margin: 110px 0px 0px 60px;
}
.count4{
  margin: 110px 0px 0px 60px;
}
.count h2{
  font-size: 36px;
  font-weight: 800;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  color: var(--font-color);
}
.count span{
  font-size: 36px;
  font-weight: 800;
  margin-top: -4px;
  color: var(--font-color);
}
.count_rel p{
  position: relative;
  top: 65%;
  left: 0%;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: var(--font-color);
}

/* ========= modal ========= */
.modal input{
  border-radius: 15px;
}
.form-control:focus {
  color: var(--other-color);
  background-color: #fff;
  border-color: var(--primry-color);
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.form-check-input:focus {
  border-color: var(--primry-color);
  box-shadow: none;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}

/* ========= Who We Are ? ========= */
.play_icon{
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 5;
  filter: invert(100);
}
.who_img{
  transition: all .5s;
  height: 500px;  
  width: 500px;
  position: relative;
}
.who_vid{
  filter: brightness( 60% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
  transition: all 1s;
}
.who_vid:hover{
  filter: brightness( 45% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.who_bg{
  position: relative;
}
.who_bg::before{
  position: absolute;
  content: " ";
  background-image: url("../images/video-bg.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  left: 0%;
  z-index: -1;
  transition: all .5s;
}
.who_vidimg{
  transform: rotate(-10deg);
  transition: all 1s;
}
.who_img:hover .who_bg::before{
  transform: rotate(-20deg);
}

/* ========= What We DO ========= */
.what_space{
  padding: 40px;
}
.what_we{
  padding-right: 100px;
}
.what_img{
  width: 36px;
  height: 36px;
  filter: invert(100);
  transition: ease 0.2s;
}
.what_imgbox{
  width: 74px;
  height: 74px;
  border-radius: 15px;
  transition: ease 0.2s;
  background: var(--secondary-color);
}
.what_text{
  transition: ease .2s;
}
.card{
  transition: 0.5s;
  border: none;
  border-radius: 10px;
}
.card:hover{
  background: var(--secondary-color);
}
.card:hover .what_imgbox{
  background: var(--white);
}
.card:hover .what_img{
  filter: invert(0);
}
.card:hover .what_text{
  color: var(--white);
}

/* ========= What we offer ========= */
.what_offer{
  position: relative;
}
.offer_img{
  position: absolute;
  top: 0%;
  left: -10%;
  background-image: url("../images/what-offerbg.png");
  background-repeat: no-repeat;
  transform: scaleY(1.1);
  height: 580px;
  width: 450px;
}
.offer_space{
  margin-left: 400px;
}
.offer_box{
  border-radius: 15px;
  border: 1px solid transparent;
  transition: .2s;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.11);
}
.offer_box:hover{
  border: 1px solid var(--primary2-color);
}
.media_block{
  width: 16.67%;
}

/* ========= How we work ========= */
.margin_top{
  margin-top: 100px;
}
.how_space{
  padding: 40px 48px 80px;
}
.how_para{
  padding: 0px 140px;
}
.work_img{
  position: absolute;
  top: -15%;
  left: 12%;
  filter: drop-shadow(0px 3px 30px rgba(130, 196, 68, 0.5));
}
.work_card{
  position: relative;
  height: 300px;
  padding: 0px 30px;
  padding-top: 80px;
  border-radius: 10px;
  transition: ease .5s;
}
.work_card:hover{
  transform: translateY(-15px);
  background-color: var(--dark-bg-color);
  color: var(--white);
}
.how_cardhead{
  font-size: 24px;
  line-height: 1.2;
}
.how_btn{
  width: 220px;
}
.how_design{
  position: relative;
}
.how_design::before{
  content: " ";
  position: absolute;
  background-image: url("../images/how-bgdesign.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  left: -3%;
  top: 40%;
}

/* ========= Digital Products ========= */
.product_bg {
  background-color: #82c4441f;
  padding: 100px 195px;
}
.digital_btn{
  width: 360px;
}

/* ========= Why Choose US ========= */
.img_width_2{
  width: 100px;
  height: 100px;
}
.why_us{
  padding: 0px 100px;
}
.why_card{
  height: 350px;
  padding: 80px 40px 0px;
}

/* ========= Client Testimonials ========= */
.clients_carousel{
  color: var(--white);
  background: var(--secondary-color);
  padding: 41px 42px 41px 45px;
  border-radius: 20px;
  box-shadow: 0px 3px 30px rgb(130 196 68 / 50%);
}
.carousel_text{
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5;
}
.carousel_btn{
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: -70px;
  left: 90%;
  transform: rotate(180deg);
  font-size: 20px;
}
.carousel_btn_1{
  margin-right: 10px;
  transform: rotateX(180deg);
}
.clients_img{
  border-radius: 50%;
}
.clients_name{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}
.fa-star{
  color: #EF8304;
  font-size: 14px;
}

/* ========= Our Blog ========= */
.our_blog{
  padding: 0px 90px;
}
.blog_card{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #EDEDED;
  transition: all .5s;
}
.blog_img{
  height: 245px;
  transform: scale(1.1);
}
.blog_imgbox{
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.blog_date{
  color: #999999;
}
.blog_card:hover{
   transform: translateY(-15px);
   background-color: var(--dark-bg-color);
   color: var(--white);
  }
.blog_card:hover .blog_date{
  color: #999999;
}
.blog_read:hover{
  color: var(--primary2-color);
}

/* ========= Let’s Discuss Your Project ========= */
.form_space{
  padding: 0px 90px;
}
.project_bg{
  background-color: var(--white);
  border-radius: 50px;
  margin: 0px 190px;
  color: var(--font-color);
  caret-color: var(--primary2-color);
}
.form_control {
  display: block;
  width: 100%;
  padding: 18px;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--white);
  outline: none;
  appearance: none;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%) !important;
  font-size: 16px;
}
.form_control::placeholder{
  opacity: 0.5;
}
.form-check-input:checked{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* ========= Footer ========= */
footer{
  background-color: var(--dark-bg-color);
  padding: 123px 86px 87px 86px;
}
.footer_img{
  width: 50%;
}
.footer_text{
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
}
.footer_title{
  position: relative;
  padding-bottom: 25px;
}
.footer_title::after{
  content: "";
  position: absolute;
  width: 58px;
  height: 3px;
  bottom: 10px;
  left: 0;
  background: var(--secondary-color);
}
footer ul li{
  margin-bottom: 15px;
}
footer ul li a{
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: all .3s;
}
footer ul li a:hover{
  color: var(--primary2-color);
}
.activeclass ul li a.footeractive {
  color: var(--primary2-color);
}
footer p a{
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  margin-bottom: 15px;
}
footer p a:hover{
  color: var(--white);
}
.circle{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  background: var(--secondary-color);
  margin-right: 15px;
  transition: all 0.5s;
}
.circle:hover{
  filter: brightness(70%);
}
.circle img{
  width: 19px;
  height: 19px;
}

/* ========= rights ========= */
.rights{
  padding: 16px 0px;
  background: var(--secondary-color);
}

/* ========= top button ========= */
.scrollup{
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--primary2-color);
  border-radius: 50%;
  z-index: 50;
  transition: ease 0.5s;
  display: none;
}
.scrollup:hover{
  background-color: var(--dark-bg-color);
}
.scrollup i{
  font-size: 22px;
  color: var(--white);
  padding: 14px 0px;
}


/* ============ ABOUT US ============ */
/* ========= banner ========= */
.about_banner_space{
  padding: 19px 30px 32px;
}
.about_banner_img{
  padding: 50px 0px 0px 130px;
}
.about_banner_img img{
  transition: ease 0.8s;
}
.about_banner_img img:hover{
  transform: translateY(-15px);
}

/* ========= digital Solution ========= */
.digital_space{
  padding: 90px 40px 0px;
}
.digital_imgbox{
  position: relative;
}
.digital_imgbox img{
  width: 650px;
  height: 600px;
  padding-left: 20px;
}
.digital_bgimg{
  position: relative;
}
.digital_bgimg::before{
  content: ' ';
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: -1;
  background-image: url("../images2/bg.png");
  background-repeat: no-repeat;
  width: 610px;
  height: 700px;
  background-size: cover;
  transition: ease 0.5s;
}
.digital_imgbox:hover .digital_bgimg::before{
  filter: brightness(95%);
}
.digi_dot{
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--secondary-color);
  border-radius: 50%;
  transition: ease 1s;
}
.digi_dot1{
  left: 50%;
  top: -5%;
}
.digital_imgbox:hover .digi_dot1{
  left: 62%;
}
.digi_dot2{
  right: 9.5%;
  top: 25%;
}
.digital_imgbox:hover .digi_dot2{
  top: 15%;
  right: 11.5%;
}
.digi_dot3{
  left: 40%;
  bottom: -12%;
}
.digital_imgbox:hover .digi_dot3{
  left: 30%;
  bottom: -14.5%;
}
.digital_text_space{
  margin: auto 0px;
}

/* ========= Philosophy ========= */
.philosophy_box{
  overflow: hidden;
  width: 508px;
  height: 504px;
  border-radius: 30px;
}
.philosophy_box img{
  border-radius: 30px;
  transition: ease 1s;
}
.philosophy_hover:hover .philosophy_box img{
  transform: scale(1.1);
}
.exp_sticker{
  position: absolute;
  top: -15%;
  left: 15%;
}
.business_lable{
  position: absolute;
  top: 50%;
  left: 40%;
  width: 350px;
  box-shadow: 0px 0px 25px rgb(30 30 30 / 10%);
  border-radius: 30px;
}
.border_circle{
  position: absolute;
  top: 70%;
  left: 72%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 5px solid var(--font-color);
  transition: 1s;
}
.philosophy_hover:hover .border_circle{
  top: 65%;
  left: 76%;
}

/* ========= Digital Product ========= */
.digi_product{
  padding: 100px 40px 200px 40px;
}
.digi_product_bg{
  background-image: url("../images2/asset\ 9.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: top center;
}
.digi_heading{
  padding: 40px 300px 0px 300px;
}
.step_hover{
  transition: ease 0.5s;
}
.step_hover:hover{
  transform: translateY(-10px);
}

/* ========= Value System at Xcodethemes ========= */
.value_space{
  padding: 100px 40px;
}
.value_card{
  height: 350px;
}

/* ========= our team ========= */
.our_team{
  position: relative;
}
.team_img{
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url("../images2/our_team_bg1.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}
.ourteam_space{
  padding: 150px 0px 150px 0px;
  margin-left: 600px;
  margin-right: 200px;
}

/* ========= team member ========= */
.member_space{
  margin-top: 100px;
  padding: 0px 40px;
}
.member_space .row{
  padding: 40px 0px 100px 0px;
}
.divison{
  position: relative;
}
.divison img{
  width: 340px;
  height: 440px;
}
.overlay{ 
  position: absolute;
  top: 0%;
  left: 12px;
  background: linear-gradient(130deg, rgba(60, 216, 157, 0.7) 0%, rgba(130, 196, 68, 0.7) 100%);
  width: 340px;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  transition: ease 0.5s;
}
.divison .overlay:hover{
  opacity: 1;
}
.overlay_head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
}
.overlay_head span{
  font-size: 24px;
  line-height: 28px;
}
.divison:hover .overlay_head{
  opacity: 1;
  transition: ease 0.8s;
}
.divison ul li{
  width: 40px;
  height: 40px;
  background-color: var(--white);
  margin: 5px;
  border-radius: 50%;
  list-style: none;
}
.social_icon{
  font-size: 20px;
  color: var(--primary2-color);
  padding: 10px 0px;
  transition: ease 0.5s;
}
.divison ul li:hover .social_icon{
  color: var(--black);
}

/* ========= Let’s Get Connected ========= */
.connect_space{
  padding: 0px 40px;
}
.let_space{
  padding: 100px 350px 80px;
}
.let_space img{
  width: 32px;
  height: 32px;
}


/* ============ SERVICES ============= */
/* ========= Banner ========= */
.service_banner_space{
  padding: 19px 36px 32px;
}
.service_banner_img{
  padding: 0px 0px 0px 100px;
  margin-top: 50px;
}
.banner_setting{
  position: relative;
}
.set{
  transition: ease 0.5s;
}
.set_1{
  position: absolute;
  top: -30px;
  right: 15%;
  width: 32px;
}
.set_2{
  width: 24px;
  position: absolute;
  top: -5px;
  right: 11%;
}
.service_banner_img:hover .set{
  transform: rotate(30deg);
}

/* ========= Solutions for Businesses ========= */
.nav-link {
  color: var(--black);
  padding: 10px 15px;
}
.nav-link:focus, .nav-link:hover {
  color: var(--primary2-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--white)!important;
  background: var(--secondary-color);
  border-radius: 15px;
}
.solution_img{
  position: absolute;
  top: -8%;
  left: 8%;
  width: 100px;
  height: 100px;
}
.solution_card{
  height: 610px;
  padding: 0px 40px 10px;
  padding-top: 80px;
  position: relative;
  border-radius: 10px;
  transition: ease 0.5s;
  color: var(--font-color);
}
.solution_card:hover{
  transform: translateY(-10px);
  background-color: var(--black);
  color: var(--white);
}
.solution_design{
  position: relative;
}
.solution_design::before{
  content: " ";
  position: absolute;
  background-image: url("../images3/solution_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  left: -5%;
  top: 40%;
}

/* ========= Working Process ========= */
.working_space{
  padding: 100px 40px;
}
.working_bg{
  background-image: url("../images3/working_bg1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 460px;
  height: 750px;
  border-radius: 10px;
}
.bg_over{
  background-color: rgba(0, 0, 0, 0.83);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.working_bg_text{
  padding: 87px 20px 100px 23px;
  height: 100%;
}
.working_bg_text p{
  color: var(--primary-color);
}
.btn_2:hover {
  background-color: var(--white);
  color: var(--black);
}
.working_box{
  padding: 170px 0px 30px 0px;
  position: relative;
}
.working_box_1{
  margin-right: 50px;
}
.working_box_2{
  margin-left: 50px;
}
.working_no{
  position: absolute;
  top: 35%;
  left: 0%;
  width: 117px;
  z-index: -1;
  opacity: 0.2;
  transition: ease 0.5s;
}
.working_box:hover .working_no{
  top: 10%;
  opacity: 1;
}
.working_border{
  position: relative;
}
.working_border::before{
  position: absolute;
  content: ' ';
  height: 2px;
  width: 880px;
  background: var(--secondary-color);
  top: 50%;
}
.working_border::after{
  position: absolute;
  content: ' ';
  height: 750px;
  width: 2px;
  background: var(--secondary-color);
  left: 49%;
}

/* ========= Discuss Project ========= */
.discuss_bg{
  position: relative;
}
.discuss_img{
  position: absolute;
  top: -400px;
  right: -40px;
  background-image: url("../images3/discuss_banner.png");
  background-repeat: no-repeat;
  height: 600px;
  width: 539px;
}
.discuss_space{
  padding: 195px 40px 195px 40px;
}
.discuss_space p{
  padding-right: 700px;
}


/* ============ CONTACT US ============ */
/* ========= Get In Touch ========= */
.get_space{
  padding: 0px 40px;
}
.get_info{
  background-color: var(--dark-bg-color);
  padding: 90px 0px 88px 50px;
  border-radius: 20px;
}
.get_space img{
  width: 59px;
  height: 59px;
}
.get_formspace{
  padding-left: 78px;
}
